@charset "UTF-8";
@font-face {
  font-family: "CYPro-Book";
  src: url("fonts/P22UndergroundCYPro-Book.otf");
  src: local("CYPro-Book"), url("fonts/P22UndergroundCYPro-Book.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "CYPro-Demi";
  src: url("fonts/P22UndergroundCYPro-Demi.otf");
  src: local("CYPro-Demi"), url("fonts/P22UndergroundCYPro-Demi.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "CYPro-Medium";
  src: url("fonts/P22UndergroundCYPro-Medium.otf");
  src: local("CYPro-Medium"), url("fonts/P22UndergroundCYPro-Medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

*:focus {
    outline: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;	
}

html, body {
	 overflow-x: hidden;
}

ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.fast {
  -webkit-animation-duration: 800ms;
  animation-duration: 800ms;
}

body {
  font-family: "CYPro-Book", Helvetica, Arial, serif;
  overflow-x: hidden;
}

.btn {
  display: inline-block;
  padding: 24px 70px;
  background-color: #242637;
  color: #fff;
  text-decoration: none;
  font-family: "CYPro-Medium", Helvetica, sans-serif;
  text-align: center;
  letter-spacing: 0.9px;
  cursor: pointer;
}
.btn_white {
  background-color: transparent;
  border: solid 1px #dfe4ef;
  color: #242637;
}
.btn_white:hover {
  background-color: #242637;
  color: #ffffff;
  transition: 0.3s ease-in;
}
.btn_gold {
  border: 0;
  background-color: #efce7d;
  color: #fff;
}
.btn_gold:hover {
  background-color: #242637;
  color: #ffffff;
  transition: 0.3s ease-in;
}
.btn__header {
    border: 1px solid #fff;
    width: min-content;
}
.btn__header:hover {
  background-color: #fff;
  color: #242637;
  transition: 0.3s ease-in;
}

.block {
  padding-top: 93px;
  padding-bottom: 100px;
}
.block__bg-dark {
  padding-top: 68px;
  background-color: #f6f6f6;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
.flex-justify-between {
  justify-content: space-between;
}
.flex-justify-end {
  justify-content: flex-end;
}
.flex-justify-center {
  justify-content: center;
}

.section__header {
  padding-top: 23px;
  padding-bottom: 90px;
  text-transform: uppercase;
  font-family: "CYPro-Demi", Helvetica, Arial, serif;
  font-size: 40px;
  letter-spacing: 0.9px;
  text-align: center;
  color: #242637;
}

.section__subheader {
  text-transform: uppercase;
  font-size: 14px;
  line-height: normal;
  letter-spacing: 1.9px;
  text-align: center;
  color: #efce7d;
}

.header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
    padding-top: 6vh;
    overflow: hidden;
}
.header:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url("img/2-u0430u0443-min.png");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position-x: center;
  background-position-y: 35%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.1;
}
.header_solid {
  background-color: #242637;
}
.header__video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -99;
  opacity: 0.5;
}
.header__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #242637;
  opacity: 0.8;
}
.header__top {
  z-index: 6;
}
.header__top-wrapper {
  position: relative;
}
.header__top-block {
  align-self: center;
  width: 33%;
  text-decoration: none;
}
.header__top-promo {
  font-size: 12px;
  text-transform: uppercase;
  color: #efce7d;
  letter-spacing: 1.61px;
}
.header__top-brand {
  text-align: center;
  text-transform: uppercase;
}
.header__top-brand_top {
  color: #fff;
  font-size: 22px;
  letter-spacing: 0.6px;
}
.header__top-brand_bottom {
  color: #efce7d;
  font-size: 11px;
}
.header__menu-btn {
  width: 24px;
  height: 21px;
}
.header__menu-btn span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  transition: 0.3s ease-in;
}
.header__menu-btn span:nth-child(2) {
  width: 70%;
  align-self: flex-end;
}
.header__menu-btn_open {
  position: relative;
}
.header__menu-btn_open span {
  position: absolute;
  top: 10px;
  transition: 0.3s ease-in;
}
.header__menu-btn_open span:nth-child(1) {
  transform: rotate(45deg);
}
.header__menu-btn_open span:nth-child(2) {
  opacity: 0;
}
.header__menu-btn_open span:nth-child(3) {
  transform: rotate(-45deg);
}
.header__bottom {
    display: flex;
    z-index: 5;
    position: relative;
    padding-top: 15.6vh;
    flex-grow: 1;
}
.header__bottom .container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header__bottom h1 {
    font-family: "CYPro-Demi", Helvetica, Arial, serif;
    font-size: 41px;
    color: #efce7d;
    text-align: left;
    letter-spacing: 0.93px;
    line-height: 63px;
}
.header__bottom h3 {
    font-family: "CYPro-Demi", Helvetica, Arial, serif;
    font-size: 17px;
    color: white;
    text-align: left;
    line-height: 32px;
}
.header__icon-wrapper {
    padding: 4.29vh 0;
}
.header__icon-wrapper_fixed {
    position: fixed;
    right: calc((100vw - 1200px) / 2);
    top: 70vh;
}
.header__chat-icon {
  width: 70px;
  height: 70px;
  margin: 0!important;
  padding: 0!important;
  border-radius: 50%;
  background-image: url("img/2-shape-min.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #efce7d;
}
.header__mouse-icon {
  width: 16px;
  height: 20px;
  background-image: url("img/podrobnee-shape@2x-min.png");
  background-size: 100%;
}

.menu {
  display: none;
  position: absolute;
  flex-wrap: wrap;
  left: 0;
  right: 0;
  top: 50px;
  padding: 0 94px;
  background-color: #fff;
}
.menu-open {
  display: flex;
}
.menu__link {
  padding: 17px 32px 20px;
  font-size: 17px;
  line-height: 32px;
  text-decoration: none;
  color: #242637;
}
.menu__link:hover {
  color: #efce7d;
  transition: 0.3s ease-in;
}

.concept__block {
  padding-right: 22px;
  padding-left: 22px;
}
.concept__block-header {
  margin-top: 25px;
  font-family: "CYPro-Demi", Helvetica, sans-serif;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-align: center;
  color: #242637;
  text-transform: uppercase;
}
.concept__block-text {
  opacity: 0.58;
  font-size: 15px;
  line-height: 2.13;
  letter-spacing: normal;
  text-align: center;
}
.concept__img {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}
.concept__img:before {
  content: "";
  display: block;
  padding-top: 91%;
}
.concept__img:hover .concept__link {
  opacity: 1;
  transition: 0.3s ease-in;
}
.concept__link {
  position: absolute;
  opacity: 0;
  transition: 0.3s ease-in;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  padding: 26px 0;
  background-color: #efce7d;
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1px;
}

.request {
  text-align: center;
}
.request__header {
  font-family: "CYPro-Demi", Helvetica, sans-serif;
  font-size: 28px;
  line-height: 2.46;
  letter-spacing: 0.7px;
  color: #242637;
  text-align: center;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.request p {
  padding: 0 8vw 30px;
  text-align: center;
  font-size: 17px;
  font-weight: normal;
  line-height: 1.88;
  letter-spacing: normal;
  color: #242637;
}
.request strong {
  font-family: "CYPro-Demi", Helvetica, sans-serif;
}
.request__strong_gold {
  color: #efce7d;
}
.request__btn {
  padding: 24px 50px;
  margin: 30px auto 0;
}
.request__btn:hover {
  background-color: #efce7d;
  transition: 0.3s ease-in;
}

.philosophy {
  padding-bottom: 0;
}
.philosophy__block_left {
  padding-right: 70px;
  background-image: url("img/2-u0430u0443-min.png");
  background-position: center;
  background-repeat: no-repeat;
}
.philosophy p {
  padding-bottom: 20px;
  font-size: 17px;
  line-height: 1.88;
  letter-spacing: normal;
  color: #242637;
}
.philosophy strong {
  font-family: "CYPro-Demi", Helvetica, sans-serif;
}
.philosophy__img-wrapper {
  width: 100%;
  height: 684px;
}
.philosophy__img {
  width: 100%;
  height: 85%;
  object-fit: cover;
  object-position: 40%;
}

.calendar {
  padding-top: 0;
}
.calendar__event {
  padding-left: 48px !important;
  padding-right: 30px;
}
.calendar__block {
  border: solid 1px #dfe4ef;
  padding-top: 37px;
  padding-bottom: 37px;
}
.calendar__block:nth-child(1) {
  border-right: 0;
}
.calendar__league-name {
  font-family: "CYPro-Demi", Helvetica, Arial, serif;
  font-size: 16px;
}
.calendar__event-date {
  opacity: 0.58;
  font-size: 16px;
  color: #2c3135;
}
.calendar__event-name {
  font-family: CYPro-Demi, Helvetica, Arial, serif;
  font-size: 17px;
  line-height: 1.47;
  margin-top: 20.4px;
}
.calendar__event-description {
  font-size: 17px;
  line-height: 1.88;
  margin-top: 41px;
}
.calendar__buttons-group {
  margin-top: 41px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.calendar__info-btn {
  border: 0;
}

.calendar .fc-unthemed thead {
  border: 0 !important;
}
.calendar .fc-toolbar h2 {
  font-family: "CYPro-Demi", Helvetica, Arial, serif;
  font-size: 17px;
  color: #242637;
}
.calendar .fc-toolbar h2:first-letter {
  text-transform: capitalize;
}
.calendar .fc-button-primary {
  color: #242637;
  background-color: transparent;
  border: 0;
}
.calendar .fc-button-primary:hover, .calendar .fc-button-primary:active {
  color: #efce7d;
  background-color: transparent;
}
.calendar .fc-button-primary:focus, .calendar .fc-button-primary:not(:disabled):active, .calendar .fc-button-primary:not(:disabled).fc-button-active, .calendar .fc-button-primary:not(:disabled):active:focus, .calendar .fc-button-primary:not(:disabled).fc-button-active:focus {
  box-shadow: none;
  color: #efce7d;
  background-color: transparent;
  border: 0;
}
.calendar .fc-dayGrid-view .fc-body .fc-row {
  display: flex;
  align-items: center;
}
.calendar .fc-day-number {
  font-size: 15px;
  color: #2c3135;
}
.calendar .fc-dayGrid-view .fc-week-number, .calendar .fc-dayGrid-view .fc-day-number {
  padding: 23px 26px;
}
.calendar .fc-day-header {
  text-transform: capitalize;
  font-size: 15px;
  color: #7f8fa4;
}
.calendar .fc-unthemed th, .calendar .fc-unthemed td, .calendar .fc-unthemed thead, .calendar .fc-unthemed tbody, .calendar .fc-unthemed .fc-divider, .calendar .fc-unthemed .fc-row, .calendar .fc-unthemed .fc-content, .calendar .fc-unthemed .fc-popover, .calendar .fc-unthemed .fc-list-view, .calendar .fc-unthemed .fc-list-heading td {
  border: 0;
}
.calendar .fc-widget-header {
  margin-bottom: 33px;
}
.calendar .fc-unthemed td.fc-today {
  background-color: transparent;
}

.calendar .fc-content-skeleton td[data-date='2019-06-28'] span {
    background-color: #202131;
    color: #fff;
}

.calendar .fc-bgevent {
    background-color: transparent;
}

.fc-row .fc-bgevent-skeleton {
  z-index: 10!important;
}

.team {
  padding-top: 0;
}
.team__block {
  outline: none;
  padding-left: 22px;
  padding-right: 22px;
}
.team__text {
  font-size: 14px;
  line-height: 2.07;
  letter-spacing: normal;
  text-align: center;
}
.team__block-name {
  text-transform: uppercase;
  min-height: 40px;
}
.team__promo {
  font-size: 17px;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: center;
}
.team__members {
  position: relative;
  margin-top: 70px;
}
.team__request {
  margin-top: 80px;
  text-align: center;
}
.team__nav-icon {
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 1;
  top: 16%;
  width: 60px;
  height: 60px;
  border: 8px solid #ffffff;
  border-radius: 50%;
  background-color: #efce7d;
  color: #ffffff;
  text-decoration: none;
}
.team__nav-icon_next {
  right: -30px;
}
.team__nav-icon_prev {
  left: -30px;
}
.team__nav-icon:hover {
  filter: grayscale(50%);
  transition: 0.3s ease-in;
}
.team__nav-icon i {
  align-self: center;
}

.news__block:nth-child(1) {
  padding-right: 22px;
}
.news__block:nth-child(2) {
  padding-left: 22px;
}
.news .block__bg-dark {
  margin-left: 22px;
  margin-right: 22px;
  padding-bottom: 20px;
}
.news__block-header {
  margin-bottom: 42px;
  font-family: "CYPro-Demi", Helvetica, Arial, serif;
  font-size: 24px;
  line-height: 2.88;
  letter-spacing: 0.6px;
  color: #242637;
  text-transform: uppercase;
}

.news__ig-photo img {
  width: 100%;
}
.news__block-text {
  margin-top: 25px;
  font-size: 17px;
  line-height: 1.88;
}
.news__social-block {
  padding: 47px 0;
}
.news__social-icon {
  display: flex;
  justify-content: center;
  width: 64px;
  height: 64px;
  margin: 0 13px;
  color: #ffffff;
  font-size: 27px;
  text-decoration: none;
  background-color: #efce7d;
}
.news__social-icon:hover {
  filter: grayscale(50%);
  transition: 0.3s ease-in;
}
.news__social-icon_yt {
  font-size: 19px;
}
.news__social-icon i {
  align-self: center;
}

.yotu-playlist {
    padding: 0!important;
}

#sb_instagram #sbi_images {
    padding: 0!important;
}

.partners {
  padding-top: 0;
  padding-bottom: 45px !important;
}
.partners__block-header {
  line-height: 1.55;
  letter-spacing: 0.5px;
  margin-bottom: 21px;
}
.partners .team__nav-icon {
  top: 20%;
}
.partners .team__members {
  margin-top: 0;
}

.contacts .section__header {
  padding-bottom: 31px;
  padding-top: 0;
  font-size: 28px;
  line-height: 2.46;
  letter-spacing: 0.7px;
}
.contacts__container {
  width: 50%;
  margin: 0 auto;
}
.contacts__block {
  padding-bottom: 40px;
}
.contacts__block_group {
  padding-bottom: 0;
}
.contacts__block-header {
  font-family: "CYPro-Demi", Helvetica, Arial, serif;
  font-size: 17px;
  line-height: 1.88;
  text-align: center;
}
.contacts__block-text {
  font-size: 17px;
  line-height: 1.88;
  text-align: center;
}

.footer {
  background-color: #242637;
  padding: 36px 0;
}
.footer__block, .footer a {
  font-size: 17px;
  font-weight: 500;
  color: #ffffff;
}
.footer__block:nth-child(2), .footer a:nth-child(2) {
  text-align: right;
}

.modal {
  opacity: 0;
  position: absolute;
  top: -1000px;
}
.modal_open {
  opacity: 1;
  position: fixed;
  width: 100vw;
  height: 2000px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  overflow-y: scroll;
}
.modal__close i {
  color: #ffffff;
  font-size: 26px;
  cursor: pointer;
}
.modal__close:hover i {
  color: #efce7d;
  transition: 0.3s ease-in;
}
.modal__bg {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #242637;
  opacity: 0.49;
}
.modal__body {
  height: 84%;
  overflow-y: scroll;
}
.modal__content {
  box-sizing: border-box;
  max-width: 990px;
  height: 100vh;
  margin: 4vh auto 0;
  background-color: #242637;
  padding: 30px 55px 39px;
}
.modal__header {
  font-size: 32px;
  color: #ffffff;
  text-transform: capitalize;
}
.modal__subheader {
  margin-top: 40px;
}
.modal__text_success {
  font-family: "CYPro-Demi", Helvetica, Arial, serif;
  font-size: 22px !important;
  line-height: 2.09;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-align: center;
}
.modal__text_success strong {
  font-family: "CYPro-Book", Helvetica, Arial, serif;
  color: #efce7d;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1.9px;
  text-align: center;
}
.modal__wrapper {
    height: 96vh;
    overflow-y: auto;
    margin: 0 auto;
}

.modal__wrapper .jspVerticalBar {
    display: none;
}
.modal p strong {
  color: #efce7d;
}
.modal p, .modal li {
  font-size: 17px;
  line-height: 1.88;
  color: #ffffff;
}
.modal p {
  padding-top: 30px;
}
.modal ul li {
  position: relative;
  margin-left: 14px;
}
.modal ol {
	padding-top: 30px;
}
.modal ol li {
    margin-left: 25px;
}
.modal ul li:before {
  content: "";
  width: 4px;
  height: 4px;
  top: 14px;
  left: -11px;
  position: absolute;
  display: block;
  background-color: #efce7d;
  transform: rotate(45deg);
}
.modal header {
    margin-top: 20px;
    font-family: "CYPro-Demi", Helvetica, Arial, serif;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}
.modal__subheader {
  font-family: "CYPro-Demi", Helvetica, Arial, serif;
  font-size: 17px;
  color: #fff;
}
.modal .jspVerticalBar {
  width: 6px;
  background: none;
}
.modal .jspTrack {
  background-color: #333544;
}
.modal .jspDrag {
  background-color: #efce7d;
}

.request__modal .modal__body {
  overflow: hidden;
}
.request__modal .modal__content {
  max-width: 556px;
  height: auto;
}
.request__modal input,
.request__modal textarea {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 13px 30px;
  margin-top: 13px;
  margin-bottom: 13px;
  border: solid 1px #ffffff;
  background-color: transparent;
  font-size: 15px;
  color: #ffffff;
  overflow-y: hidden;
}

.request__modal input[type=submit] {
    background-color: #efce7d;
    border: 0;
}

.request__modal input:active, .request__modal input:focus,
.request__modal textarea:active,
.request__modal textarea:focus {
  outline: none;
}
.request__modal input[name=email] {
  margin-bottom: 26px;
}
.request__modal textarea {
  margin-top: 26px;
}

.request__modal form p {
  padding-top: 0;
}
.request__modal .form__group {
  display: flex;
  justify-content: space-between;
}
.request__modal .form__group input {
}
.request__modal .name-403 {
  margin-right: 13px;
}
.request__modal .lastname-403 {
  margin-left: 13px;
}
.request__modal .form__group_hidden {
  display: none;
}
.request__modal .category-758,
.request__modal .format-530,
.request__modal .coaches-530
{
    width: 100%;
}
.request__modal input[type=email] {
    margin-bottom: 26px;
}

.request__modal .form__group_select {
    margin-top: 26px;
    margin-bottom: 26px;
}


.request__modal .select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: #fff;
  width: 100%;
  height: 60px;
}
.request__modal .select-hidden {
  visibility: hidden;
  padding-right: 10px;
}
.request__modal .select-styled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #242637;
  padding: 23px 30px;
  border: 1px solid #fff;
  user-select: none;
}
.request__modal .select-styled:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
  display: inline-block;
  font-size: 16px;
  position: absolute;
  top: 23px;
  right: 26px;
}
.request__modal .select-styled:hover {
  background-color: #202231;
}
.request__modal .select-styled:active {
  background-color: #1a1b28;
}
.request__modal .select-options {
  display: none;
  position: relative;
  top: 41px;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  border: 1px solid #fff;
  border-top: 0;
  background-color: #242637;
  user-select: none;
}
.request__modal .select-options li {
  margin: 0;
  padding: 13px 30px;
}
.request__modal .select-options li:hover {
  background: #1a1b28;
}
.request__modal .select-options li[rel=hide] {
  display: none;
}
.request__modal .btn_request {
  width: 100%;
  margin-top: 26px;
  font-size: 16px;
}
.request__modal .btn_request:hover {
  color: #242637;
  background-color: #fff;
}
.request__modal_success .modal__body {
  position: relative;
  padding-top: 80px;
  padding-bottom: 105px;
}
.request__modal .wpcf7-response-output {
    display: none!important;
}
.request__modal_success .modal__body:after {
  content: "";
  display: block;
  opacity: 0.05;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: url("img/2-u0430u0443-min.png");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
}

.request__modal .ajax-loader {
    display: none!important;
}

@media screen and (max-width: 1280px) {
  .team__nav-icon_prev {
    left: -20px;
  }
  .team__nav-icon_next {
    right: -20px;
  }
}
@media screen and (max-width: 1024px) {
  body {
    overflow-x: hidden;
  }

  .header:after {
    background-size: 25%;
  }

  .contacts__container {
    width: 75%;
  }
}
@media screen and (max-width: 992px) {
  .philosophy__block_left {
    padding-right: 0;
  }

  .calendar .btn_gold,
.calendar .btn_white {
    align-self: center;
    margin-right: 0;
    margin-left: 0;
    margin-top: 26px;
    width: 75%;
  }
}
@media screen and (max-width: 480px) {
  body {
    overflow-x: hidden;
  }

  .btn {
    padding: 21px 61px;
  }

  .block {
    padding-top: 60px;
    padding-bottom: 0;
  }

  .container {
    width: auto;
    padding-left: 23px;
    padding-right: 23px;
  }

  .section__header {
    padding-top: 10px;
    padding-bottom: 33px;
    font-size: 32px;
    line-height: 43px;
    letter-spacing: 0.7px;
  }

  .section__subheader {
    font-size: 13px;
    letter-spacing: 1.74px;
    line-height: 25px;
  }

  .header {
    padding-top: 36px;
    padding-bottom: 0;
    background-color: #242637;
  }
  .header:after {
    background-size: 50%;
  }
  .header__overlay {
    display: none;
  }
  .header__top-block {
    width: auto;
  }
  .header__top-block:nth-child(1) {
    display: none;
  }
  .header__bottom {
    padding-top: 90px;
  }
  .header__bottom h1 {
    font-size: 24px;
    line-height: 1.54;
    letter-spacing: 0.5px;
  }
  .header__bottom h3 {
    font-size: 15px;
    line-height: 1.8;
    margin-bottom: 35px;
  }
  .header__icon-wrapper {
    padding-bottom: 0;
    padding-top: 52px;
  }
  .header__chat-icon {
    width: 62px;
    height: 62px;
  }
  .header__mouse-icon {
    display: none;
  }

  .menu {
    top: 85px;
    background-color: #242637;
    padding: 0;
    flex-direction: column;
  }
  .menu__link {
    padding: 0;
    color: #fff;
    font-size: 26px;
    line-height: 2.69;
    letter-spacing: normal;
    text-align: center;
  }

  .concept__block {
    padding-bottom: 42px;
    padding-left: 16px !important;
    padding-right: 16px !important;
  }

  .request {
    padding-bottom: 72px;
  }
  .request__header {
    font-size: 21px;
    line-height: 1.71;
    letter-spacing: 0.5px;
  }
  .request__text {
    padding: 0;
    font-size: 15px;
    line-height: 1.8;
    letter-spacing: normal;
  }
  .request__btn {
    padding: 21px 48px;
  }

  .philosophy__block_left {
    background-image: none;
  }
  .philosophy__text {
    padding-bottom: 20px;
    font-size: 15px;
    line-height: 1.8;
  }
  .philosophy__img-wrapper {
    width: 100%;
    height: 425px;
  }
  .philosophy__img {
    width: 100%;
    height: 85%;
    object-fit: cover;
    object-position: 40%;
  }
  .philosophy .row {
    flex-direction: column-reverse;
  }

  .calendar {
    padding-left: 16px;
    padding-right: 16px;
  }
  .calendar .container_schedule {
    padding-left: 0;
    padding-right: 0;
  }
  .calendar__block:nth-child(1) {
    border-right: solid 1px #dfe4ef;
    border-bottom: 0;
  }
  .calendar__event {
    padding-left: 20px !important;
    padding-right: 20px;
  }
  .calendar__league-name, .calendar__event-date {
    font-size: 15px;
  }
  .calendar .fc-widget-header {
    margin-bottom: 10px;
  }
  .calendar .fc-dayGrid-view .fc-week-number, .calendar .fc-dayGrid-view .fc-day-number {
    padding: 10px 15px;
  }
  .calendar .fc-dayGrid-view .fc-body .fc-row {
    min-height: 3rem;
  }
  .calendar__event-description {
    font-size: 15px;
    line-height: 1.8;
  }
  .calendar .calendar__info-btn,
  .calendar .btn_gold {
    width: 88%;
    box-sizing: content-box;
  }

  .team {
    padding-left: 27px;
    padding-right: 27px;
  }
  .team__block {
    padding-left: 0;
    padding-right: 0;
  }
  .team__text {
    margin-top: 20px;
  }
  .team__nav-icon {
    top: 19%;
    width: 44px;
    height: 44px;
    border: 3px solid #ffffff;
  }
  .team__nav-icon_next {
    right: -24px;
  }
  .team__nav-icon_prev {
    left: -24px;
  }

  .news .block__bg-dark {
    padding-top: 27px;
    margin-top: 26px;
  }
  .news__container {
    padding-left: 0;
    padding-right: 0;
  }
  .news__block {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 34px;
  }
  .news__block-header {
    font-size: 21px;
    line-height: 3.29;
    letter-spacing: 0.5px;
    padding-left: 21px;
    padding-right: 21px;
    margin-bottom: 18px;
  }
  .news__block-text {
    font-size: 15px;
    line-height: 1.8;
    padding-right: 21px;
    padding-left: 21px;
  }
  .news__yt-video {
    height: 228px;
	margin: 0 -11px;  
  }
  .news__ig-photo {
    padding-left: 21px;
    padding-right: 21px;
  }
  .news__ig-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .partners {
    padding-left: 27px;
    padding-right: 27px;
  }
  .partners .team__nav-icon {
    top: 27%;
  }

  .contacts {
    margin-left: 10px;
    margin-right: 10px;
  }
  .contacts__container {
    width: auto;
  }
  .contacts .section__header {
    font-size: 21px;
  }
  .contacts__header {
    font-size: 17px;
  }
  .contacts__text {
    font-size: 17px;
  }

  .footer {
    margin-left: 10px;
    margin-right: 10px;
  }
  .footer__block {
    text-align: center !important;
  }
  .footer__block:nth-child(1) {
    margin-bottom: 33px;
  }

  .modal__body {
    height: 84%;
    overflow-y: scroll;
  }
  .calendar__modal .modal__body{
	height: 80%;			
  }	
  .modal__content {
    box-sizing: border-box;
    max-width: 990px;
	margin-top: 0; 
    background-color: #242637;
    padding: 10px;
  }
  .modal__header {
    font-size: 27px;
    color: #ffffff;
  }
  .modal__subheader {
    margin-top: 20px;
  }
  .modal__text, .modal__list-item {
    font-size: 15px;
    line-height: 1.5;
    color: #ffffff;
  }
  .modal__text, .modal__list {
    padding-top: 16px;
  }
  .modal__list-item {
    position: relative;
    margin-left: 14px;
  }
  .modal__list-item:before {
    content: "";
    width: 4px;
    height: 4px;
    top: 14px;
    left: -11px;
    position: absolute;
    display: block;
    background-color: #efce7d;
    transform: rotate(45deg);
  }
  .modal__subheader {
    font-family: "CYPro-Demi", Helvetica, Arial, serif;
    font-size: 15px;
    color: #fff;
  }

  .request__modal .form__group {
    flex-direction: column;
  }
  .request__modal .form__group input {
    width: 100%;
  }
    .request__modal .name-403,
    .request__modal .lastname-403 {
        margin-left: 0;
        margin-right: 0;
    }
}
@media screen and (max-width: 320px) {
  .footer__block {
    font-size: 15px;
  }
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -22px;
  margin-right: -22px;
}

.row_no-paddings {
  margin-left: 0;
  margin-right: 0;
}

.lg-1 {
  width: 8.3333333333%;
  box-sizing: border-box;
}

.lg-2 {
  width: 16.6666666667%;
  box-sizing: border-box;
}

.lg-3 {
  width: 25%;
  box-sizing: border-box;
}

.lg-4 {
  width: 33.3333333333%;
  box-sizing: border-box;
}

.lg-5 {
  width: 41.6666666667%;
  box-sizing: border-box;
}

.lg-6 {
  width: 50%;
  box-sizing: border-box;
}

.lg-7 {
  width: 58.3333333333%;
  box-sizing: border-box;
}

.lg-8 {
  width: 66.6666666667%;
  box-sizing: border-box;
}

.lg-9 {
  width: 75%;
  box-sizing: border-box;
}

.lg-10 {
  width: 83.3333333333%;
  box-sizing: border-box;
}

.lg-11 {
  width: 91.6666666667%;
  box-sizing: border-box;
}

.lg-12 {
  width: 100%;
  box-sizing: border-box;
}
@media screen and (max-width: 1200px) {
    .header__icon-wrapper_fixed {
        right: 15px;
    }
}
@media screen and (max-width: 1280px) and (min-width: 480px) {
  .row {
    margin-left: 0;
    margin-right: 0;
  }
}
@media screen and (max-width: 992px) {
  .md-1 {
    width: 8.3333333333%;
  }

  .md-2 {
    width: 16.6666666667%;
  }

  .md-3 {
    width: 25%;
  }

  .md-4 {
    width: 33.3333333333%;
  }

  .md-5 {
    width: 41.6666666667%;
  }

  .md-6 {
    width: 50%;
  }

  .md-7 {
    width: 58.3333333333%;
  }

  .md-8 {
    width: 66.6666666667%;
  }

  .md-9 {
    width: 75%;
  }

  .md-10 {
    width: 83.3333333333%;
  }

  .md-11 {
    width: 91.6666666667%;
  }

  .md-12 {
    width: 100%;
  }
}
@media screen and (max-width: 720px) {
  .sm-1 {
    width: 8.3333333333%;
  }

  .sm-2 {
    width: 16.6666666667%;
  }

  .sm-3 {
    width: 25%;
  }

  .sm-4 {
    width: 33.3333333333%;
  }

  .sm-5 {
    width: 41.6666666667%;
  }

  .sm-6 {
    width: 50%;
  }

  .sm-7 {
    width: 58.3333333333%;
  }

  .sm-8 {
    width: 66.6666666667%;
  }

  .sm-9 {
    width: 75%;
  }

  .sm-10 {
    width: 83.3333333333%;
  }

  .sm-11 {
    width: 91.6666666667%;
  }

  .sm-12 {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {

  .row_no-paddings {
    margin-left: -44px;
    margin-right: -44px;
  }

  .row {
    padding-left: 34px;
    padding-right: 34px;
  }
}

/*# sourceMappingURL=style.css.map */
